*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
html {
    color-scheme: dark light;
}
html, body {
    height: 100%;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    line-height: 1.5;
}
img, video, svg, video {
    display: block;
    max-width: 100%;
}




:root {
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --darkCyan: hsl(179, 100%, 13%);
    --veryLightGrey: hsl(0, 0%, 95%);
    --transparentWhite: hsla(0, 0%, 100%, 0.75);
    --title: 'Big Shoulders Display', cursive;
    --text: 'Lexend Deca', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
.sr-only {
    position: absolute;
    width: 1rem;
    height: 1rem;
    padding: 0;
    margin: -1rem;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--veryLightGrey);
    font-family: var(--text);
}
.container {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1rem;
    overflow: hidden;
}
.card {
    display: flex; 
    flex-direction: column;
    min-height: 32rem;
    flex: 1 1 18rem;
    gap: 0.5rem;
    padding-block: 3rem;
    padding-inline: 4rem;
    color: rgba(255, 255, 255, 0.941);  
}
.card__car {
    max-width: 4rem;
}
.card:first-child {
    background-color: var(--orange);
}
.card:nth-child(2) {
    background-color: var(--cyan);
}
.card:last-child {
    background-color: var(--darkCyan);
}
.card__title {
    font-family: var(--title);
    color: var(--veryLightGrey);
    font-size: 2rem;
    padding-block: 1.7rem;
    text-transform: uppercase;
    font-size: 2.5rem;
}
.card__text {
    padding-bottom: 1rem;
    font-size: 16px;
    color: var(--transparentWhite);
    line-height: 1.6;
}
.card__button {
    margin-top: auto;
    width: fit-content;
    text-decoration: none;
    padding-block: 0.6rem;
    padding-inline: 2rem;
    border: 2px solid transparent;
    border-radius: 30px;
    font-size: 1.1rem;
    background-color: var(--veryLightGrey);
    color: black;
    mix-blend-mode: screen;
    transition: 200ms ease-in-out;
}
.card__button:hover {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--veryLightGrey);
    color: var(--veryLightGrey);
}

@media screen and (min-width: 40em) {
    .container {
        width: 65%; 
    }
    .card {
        padding: 3.3rem;
    }
}