* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --darkCyan: hsl(179, 100%, 13%);
    --title: 'Big Shoulders Display', cursive;
    --text: 'Lexend Deca', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
h1 {
    display: none;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play {
    display: block;
    width: 100%;
}

.container {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1rem;
    overflow: hidden;
}
.card {
    min-height: 32rem;
    flex: 1 1 18rem;
    display: flex; 
    flex-direction: column;
    gap: 0.5rem;
    padding-block: 3rem;
    padding-inline: 4rem;
    color: rgba(255, 255, 255, 0.941);
    
}
.card__car {
    max-width: 4rem;
}
.card--1 {
    background-color: var(--orange);
}
.card--2 {
    background-color: var(--cyan);
}
.card--3 {
    background-color: var(--darkCyan);
}
.card__title {
    font-family: var(--title);
    font-size: 2rem;
    padding-block: 1.7rem;
    text-transform: uppercase;
    font-size: 2.5rem;
}
.card__text {
    font-size: 16px;
    font-family: var(--text);
    line-height: 1.6rem;
    padding-bottom: 1rem;
}
.card__button {
    margin-top: auto;
    text-decoration: none;
    background-color: white;
    font-family: var(--text);
    padding: 0.6rem;
    padding-inline: 2rem;
    border: 2px solid transparent;
    border-radius: 30px;
    font-size: 1.1rem;
    color: black;
    mix-blend-mode: screen;
    width: fit-content;
    transition: 200ms ease-in-out;
}
.card__button:hover {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

@media screen and (min-width: 40em) {
    .container {
        width: 65%;
        
    }
    .card {
        padding: 3.3rem;
    }
}